.login-wrap-box{
	width: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding : 30px;
	border-radius:  10px;
	width: 25%;
	
	p{
		color: #9B9A97;
	}
	h2{
		color: #37352f;
		font-weight: bolder;
		font-size: larger;
	}
}